input[type="text"],
input[type="email"],
textarea {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 12px;
  background-color: #f1f6f9;
  margin: 6px 0 16px;
  border-radius: 9px;
  resize: vertical;
}

.container .content-right button {
  background-color: #14274e;
  font-weight: 700;
  color: #f1f6f9;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 6px;
}

.container .content-right button:hover {
  background-color: #1d4591;
  color: #f1f6f9;
}

.container {
  background-color: #f1f6f9;
  font-family: "Open Sans", sans-serif;
  color: #191717;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 100px;
}

.container h1 {
  color: #191717;
  padding-bottom: 10px;
  text-align: center;
}

.container h2 {
  color: #f1f6f9;
  padding-bottom: 10px;
}

.container h4 {
  font-weight: 500;
  color: #f1f6f9;
  padding-bottom: 36px;
}

.container .paragraf {
  color: #191717;
  padding-bottom: 10px;
}
.container p {
  font-weight: 400;
  padding-bottom: 24px;
  padding-left: 9px;
  color: #f1f6f9;
}

.container iframe {
  padding-top: 16px;
  width: 90%;
  height: 40%;
}

.row {
  display: flex;
  justify-content: center;
  width: 55%;
  margin: 20px auto;
}

.content-left {
  width: 100%;
  padding: 24px;
  background-color: #14274e;
  border-radius: 20px 0 0 20px;
}

.kontak {
  font-size: 14px;
  display: flex;
}

.content-left .kontak a {
  color: #f1f6f9;
  display: flex;
  width: 20px;
}

.content-right {
  width: 100%;
  padding: 24px;
  background-color: #9ba4b4;
  border-radius: 0 20px 20px 0;
}

.content-right label {
  color: #191717;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container .content-right button {
  background-color: #14274e;
  font-weight: 700;
  color: #f1f6f9;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 6px;
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }

  .container h1 {
    font-size: 24px;
    margin-top: 20px;
  }

  .container h2 {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .container h4 {
    font-size: 14px;
    padding-bottom: 24px;
  }

  .container p {
    font-size: 14px;
  }

  .container .kontak a {
    width: 15px;
  }

  .row {
    display: block;
    width: 500px;
    padding: 20px;
  }

  .content-left {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .content-right {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }

  .content-left p {
    font-size: 75%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 85%;
  }

  .container .content-right button {
    font-size: 85%;
  }
}

@media (max-width: 758px) {
  .container {
    width: 100%;
  }

  .container h1 {
    font-size: 22px;
    margin-top: 20px;
  }

  .container h2 {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .container h4 {
    font-size: 12px;
    padding-bottom: 24px;
  }

  .container p {
    font-size: 14px;
  }

  .container .kontak a {
    width: 15px;
  }

  .row {
    width: 400px;
    padding: 20px;
  }

  .content-left {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .content-right {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }

  .content-left p {
    font-size: 75%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 85%;
  }

  .container .content-right button {
    font-size: 85%;
  }
}

@media (max-width: 450px) {
  .container {
    width: 100%;
  }

  .container h1 {
    font-size: 24px;
  }

  .container h2 {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .container h4 {
    font-size: 14px;
    padding-bottom: 24px;
  }

  .container p {
    font-size: 10px;
  }

  .container .kontak a {
    width: 15px;
  }

  .row {
    width: 100%;
  }

  .container iframe {
    height: 40%;
  }

  .content-left {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }

  .content-right {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }

  .content-left p {
    font-size: 80%;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 10px;
  }

  .container .content-right button {
    font-size: 10px;
  }

  .content-right label {
    font-size: 10px;
  }
}
