.hero {
  min-height: 120vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.container {
  position: absolute;
  top: 54%;
  left: 50%;
  width: 750px;
  padding: 50px;
  transform: translate(-50%, -50%);
  background: #f1f6f9;
  max-height: 100vh;
  overflow-y: auto;
}

.hero h1 {
  font-size: 30px;
  font-weight: 700;
  color: #191717;
  margin-top: 0;
  margin-bottom: 16px;
}

.user-box-title {
  position: relative;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-top: 10px solid #14274e;
  border-radius: 8px;
  padding: 24px;
  background-color: white;
}

.user-box-title h2 {
  position: relative;
  top: -10px;
  font-weight: 600;
  margin-bottom: 10px;
}

.user-box-title p {
  font-size: 14px;
  font-weight: 500;
}

.container .user-box {
  position: relative;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 24px;
  background-color: white;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #191717;
}

input[type="email"],
input[type="text"],
input[type="tel"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #191717;
  border: none;
  border-bottom: 1px solid #e2dddd;
  outline: none;
}

textarea {
  resize: vertical;
}

.button button {
  font-family: "Open Sans", sans-serif;
  border: none;
  color: white;
  background-color: #14274e;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.button button:hover {
  background-color: #1d4591;
  color: white;
}

.hero .dibuat {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  font-weight: 500;
}

@media (max-width: 1280px) {
  .container {
    width: 100;
  }

  .container .user-box-title {
    width: 100%;
  }

  .container .user-box {
    width: 100%;
  }
}

@media (max-width: 758px) {
  .container {
    width: 100%;
  }

  .container .user-box-title {
    width: 100%;
  }

  .container .user-box {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .container {
    width: 100%;
  }

  .container h1 {
    font-size: 28px;
  }

  .user-box-title p {
    font-size: 12px;
  }

  .container .user-box-title {
    width: 100%;
  }

  .container .user-box {
    width: 100%;
  }

  label {
    font-size: 12px;
  }

  input[type="email"],
  input[type="text"],
  input[type="tel"],
  input[type="date"],
  textarea {
    font-size: 11px;
  }

  .button button {
    font-size: 12px;
    padding: 10px 20px;
  }
}
