.container {
  font-family: "Open Sans", sans-serif;
  color: hsl(0, 4%, 9%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.top-headlines {
  display: flex;
  width: 70%;
  color: #191717;
}

.top-headlines .headlines-title a {
  margin: 0 20px 0 0;
  color: #191717;
}

.top-headlines .headlines-title a:hover {
  color: #ad2139;
}

.top-headlines .row {
  margin: 0 20px 0 0;
  color: #191717;
}

.headlines-type {
  display: inline-block;
  color: rgb(204, 9, 9);
  margin: 0 20px 0 0;
}

.top-headlines h3 {
  display: flex;
}

.trending-articles-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 3em;
  display: flex;
}

.trending-articles {
  width: 70%;
  display: flex;
}

.main-article {
  width: 100%;
}

.main-article a {
  color: #191717;
}

.main-article a:hover {
  color: #ad2139;
}

.image-main-article {
  width: 670px;
  height: 500px;
  object-fit: cover;
  transition: 0.5s ease;
}

.main-article:hover .image-main-article {
  transform: scale(1.02);
}

.news-title {
  font-size: 30px;
  margin: 16px 0;
}

.news-title:hover {
  color: #ad2139;
}

.main-article p {
  margin-bottom: 8px;
  color: #191717;
}

.main-article .category {
  font-size: 14px;
  font-weight: 700;
  color: #ad2139;
}

.secondary-articles {
  width: 40%;
  box-sizing: border-box;
  padding: 0 0 0 2em;
  display: flex;
  flex-direction: column;
}

.secondary-article {
  margin-bottom: 16px;
}

.image-secondary-article {
  width: 240px;
  object-fit: cover;
  transition: 0.5s ease;
}

.secondary-article:hover .image-secondary-article {
  transform: scale(1.03);
}

.secondary-title {
  font-size: 16px;
  margin: 8px 0 8px 0;
}

.secondary-article a {
  color: #191717;
}

.secondary-article a:hover {
  color: #ad2139;
}

.secondary-article p {
  font-weight: 700;
  color: #ad2139;
  font-size: 12px;
}

.secondary-article-info {
  margin: 1em 0;
}

.secondary-article-info .article-header {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.2;
}

.secondary-article-info .article-header:hover {
  color: gray;
  text-decoration: underline;
}

.secondary-article-info .article-time {
  margin-top: 1em;
  color: black;
  font-weight: 100;
  font-size: 0.8em;
}

.secondary-image {
  width: 100%;
  object-fit: cover;
}

.box-header {
  margin-bottom: 14px;
}

.box-title {
  margin: 0;
  color: #14274e;
  font-size: 18px;
}

.berita {
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1em 0;
}

.berita-utama-article {
  width: 20%;
}

.article-list {
  width: 30%;
  box-sizing: border-box;
  padding: 0 0 0 2em;
}

.article-list-item {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  border-bottom: 1px solid #ad2139;
}

.article-list-item h1 {
  width: 55%;
  font-weight: 500;
  line-height: 1.2;
  font-size: 13px;
  margin: 0 12px;
}

.article-list-item a {
  color: #191717;
}

.article-list-item a:hover {
  color: #ad2139;
}

.article-list-item .article-link {
  display: flex;
}

.article-list-item:first-child {
  padding-top: 0;
}

.article-list-item:last-child {
  border-bottom: none;
}

.article-list-item img {
  width: 100px;
  height: 60px;
  transition: 0.5s ease;
}

.article-list-item:hover img {
  transform: scale(1.05);
}

.terbaru-title {
  margin: 1em 3em;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.terbaru-title p {
  padding-top: 16px;
  font-size: 14px;
  color: #ad2139;
}

.publish-date {
  color: gray;
}

.section-header {
  width: 70%;
  margin: 0 auto;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  margin: 1em 0 2em 0;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #14274e;
}

.section-header h2 {
  background-color: #14274e;
  padding: 0.2em 0.5em;
  width: 30%;
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

.berita-terbaru {
  display: flex;
  transition: 0.5s ease;
}

.berita-terbaru:hover .berita-article img {
  transform: scale(1.02);
}

.berita-article img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  transition: 0.5s ease;
}

.berita-article a {
  display: flex;
  margin-bottom: 50px;
  color: #191717;
}

.berita-article a:hover {
  color: #ad2139;
}

@media (min-width: 1441px) and (max-width: 1915px) {
  .top-headlines {
    width: 80%;
  }

  .trending-articles-container,
  .main-article,
  .berita,
  .section-header {
    width: 80%;
  }

  .main-article {
    width: 100%;
  }

  .image-main-article {
    width: 100%;
    height: 100%;
  }

  .image-secondary-article {
    width: 100%;
  }

  .secondary-title {
    font-size: 14px;
  }

  .secondary-articles .secondary-article {
    width: 100%;
  }

  .article-list-item h1 {
    font-size: 12px;
  }

  .article-list-item img {
    width: 90px;
    height: 54px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .top-headlines {
    width: 80%;
  }

  .trending-articles-container,
  .main-article {
    width: 80%;
  }

  .main-article {
    width: 100%;
  }

  .image-main-article {
    width: 100%;
    height: 100%;
  }

  .news-title {
    font-size: 24px;
  }

  .image-secondary-article {
    width: 100%;
  }

  .secondary-title {
    font-size: 14px;
  }

  .secondary-article p {
    font-size: 12px;
  }

  .secondary-articles .secondary-article {
    width: 100%;
  }

  .section-header {
    width: 80%;
  }

  .berita {
    width: 80%;
  }

  .berita-utama {
    width: 80%;
  }

  .rekomendasi-berita {
    width: 80%;
  }

  .img-utama {
    width: 100%;
  }

  .article-list-item h1 {
    font-size: 12px;
  }

  .article-list-item img {
    width: 90px;
    height: 54px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 100%;
  }

  .top-headlines {
    width: 80%;
  }

  .trending-articles-container {
    width: 80%;
  }

  .trending-articles {
    display: block;
    width: 60%;
  }

  .secondary-articles {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 0 0 0;
  }

  .secondary-article {
    margin: 0 10px 0 0;
  }

  .image-main-article {
    width: 100%;
    height: 300px;
    object-fit: inherit;
  }

  .image-secondary-article {
    width: 185px;
    height: 100px;
  }

  .news-title {
    font-size: 20px;
  }

  .secondary-title {
    font-size: 14px;
    width: 90%;
  }

  .secondary-article p,
  .article-list-item h1 {
    font-size: 10px;
  }

  .article-list-item {
    margin: 0 0 1em 0;
  }

  .article-list-item img {
    width: 70px;
    height: 50px;
  }

  .article-list {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 2em;
  }

  .article-list-item p {
    font-size: 9px;
  }
  .section-header {
    width: 80%;
  }

  .section-header h2 {
    font-size: 18px;
    width: 35%;
    padding: 8px 8px;
  }

  .berita-utama {
    width: 80%;
  }

  .img-utama {
    width: 100%;
    height: 150px;
  }

  h1 {
    font-size: 14px;
  }

  .berita {
    width: 80%;
  }

  .berita-article img {
    width: 250px;
    height: 200px;
    object-fit: inherit;
  }

  .terbaru-title {
    font-size: 16px;
  }

  .rekomendasi-berita {
    width: 80%;
  }
}

@media (max-width: 758px) {
  .container {
    width: 100%;
  }

  .top-headlines {
    width: 80%;
  }

  .headlines-type {
    margin: 0 10px 0 0;
  }

  .top-headlines h3 {
    font-size: 14px;
  }

  .top-headlines .row {
    margin: 0 10px 0 0;
  }

  .top-headlines .headlines-title a {
    margin: 0 10px 0 0;
    color: #191717;
    font-size: 14px;
  }

  .trending-articles-container {
    width: 80%;
  }

  .trending-articles {
    display: block;
    width: 60%;
  }

  .secondary-articles {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 0 0 0;
  }

  .secondary-article {
    margin: 0 10px 0 0;
  }

  .image-main-article {
    width: 100%;
    height: 300px;
  }

  .image-secondary-article {
    width: 100px;
    height: 100px;
    object-fit: inherit;
  }

  .news-title {
    font-size: 16px;
  }

  .main-article p {
    font-size: 12px;
    width: 100%;
  }

  .main-article .category {
    font-size: 9px;
  }

  .secondary-title {
    font-size: 12px;
  }

  .box-title {
    font-size: 16px;
  }

  .secondary-article p,
  .article-list-item h1 {
    font-size: 9px;
  }

  .article-list-item {
    margin: 0 0 1em 0;
  }

  .article-list-item img {
    width: 60px;
    height: 50px;
  }

  .article-list {
    width: 50%;
    box-sizing: border-box;
    padding: 0 0 0 1em;
  }

  .article-list-item p {
    font-size: 9px;
  }
  .section-header {
    width: 80%;
  }

  .section-header h2 {
    font-size: 16px;
    width: 50%;
  }

  .berita {
    width: 80%;
  }

  .berita-article img {
    width: 45%;
  }

  .terbaru-title {
    font-size: 14px;
    margin: 2em;
    width: 100%;
  }

  .terbaru-title p {
    font-size: 11px;
  }
}

@media (max-width: 450px) {
  .container {
    width: 100%;
  }

  .top-headlines {
    width: 80%;
  }

  .headlines-type {
    margin: 0 10px 0 0;
  }

  .top-headlines h3 {
    font-size: 11px;
  }

  .top-headlines .row {
    margin: 0 10px 0 0;
  }

  .top-headlines .headlines-title a {
    margin: 0 10px 0 0;
    color: #191717;
    font-size: 11px;
  }

  .trending-articles-container {
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .trending-articles {
    display: block;
    width: 100%;
  }

  .secondary-articles {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 0 0 0;
  }

  .secondary-article {
    margin: 0 10px 0 0;
  }

  .image-main-article {
    width: 100%;
    height: 300px;
  }

  .image-secondary-article {
    width: 140px;
    height: 100px;
  }

  .news-title {
    font-size: 20px;
  }

  .secondary-title {
    font-size: 14px;
    width: 100%;
  }

  .secondary-article p,
  .article-list-item h1 {
    font-size: 12px;
  }

  .box-title {
    font-size: 14px;
  }

  .article-list-item {
    margin: 0 0 1em 0;
  }

  .article-list-item img {
    width: 70px;
    height: 40px;
  }

  .article-list {
    width: 100%;
    box-sizing: border-box;
    padding: 36px 0 0 0;
  }

  .article-list-item p {
    font-size: 9px;
  }
  .section-header {
    width: 80%;
  }

  .section-header h2 {
    font-size: 14px;
    width: 55%;
  }

  .terbaru-title {
    font-size: 14px;
    width: 100%;
    margin: 2em 0 2em 2em;
  }

  .berita {
    width: 80%;
  }

  .berita-article img {
    width: 45%;
    height: 180px;
  }
}
