* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f1f6f9;
  color: #191717;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 16px 7%;
  background-color: #14274e;
  border-bottom: 1px solid #191717;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo img {
  width: 120px;
  height: 40px;
}

.navbar .navbar-nav a {
  color: #f1f6f9;
  display: inline-block;
  font-size: 16px;
  margin: 8px;
}

.navbar .navbar-nav a:hover {
  color: #c70039;
}

.navbar .navbar-nav .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .navbar-nav .dropdown .dropdown-toggle {
  display: none;
}

.navbar .navbar-nav .dropdown .dropdown-toggle:hover {
  color: #c70039;
}

.navbar .navbar-nav .dropdown .dropdown-toggle:hover {
  color: #c70039;
}

.navbar .navbar-nav .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #1d4591;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 190px;
}

.navbar .navbar-nav .dropdown .dropdown-menu a {
  font-size: 14px;
  color: #f1f6f9;
  padding: 9px 16px;
  display: block;
}

.navbar .navbar-nav .dropdown .dropdown-menu a:hover {
  color: red;
}

.navbar .navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar .navbar-nav .dropdown:hover .dropdown-toggle {
  color: #c70039;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 2px;
  border-bottom: 1px solid #f1f6f9;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover {
  color: #c70039;
}

.navbar .navbar-extra a {
  color: #f1f6f9;
  margin: 8px;
}

.navbar .navbar-extra a:hover {
  color: red;
}

#menu {
  display: none;
}

.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 19%;
  background-color: white;
  width: 320px;
  height: 40px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 16px;
  color: #111;
  padding: 16px;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 32px;
  margin-right: 24px;
  color: #111;
}

/* Hero Section */
.hero {
  font-family: "Open Sans", sans-serif;
  color: #191717;
  min-height: 255vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Headlines News */
.top-headlines {
  display: flex;
  width: 70%;
}

.top-headlines .headlines-title {
  margin: 0 20px 0 0;
}

.top-headlines .row {
  margin: 0 20px 0 0;
}

.headlines-type {
  display: inline-block;
  color: rgb(204, 9, 9);
  margin: 0 20px 0 0;
}

.top-headlines h3 {
  display: flex;
}

/* Main News */

.trending-articles-container {
  width: 70%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 3em;
  display: flex;
}

.trending-articles {
  width: 70%;
  display: flex;
}

.article-header {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

/*--------------------- section - main article -------------------------*/

.main-article {
  width: 70%;
}

.main-article-info {
  margin: 1em 0;
  color: black;
}

.main-article-info .article-header {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
}

.main-article-info .article-header:hover {
  color: gray;
  text-decoration: underline;
}

.main-article-info p {
  font-size: 1em;
  font-weight: 400;
  margin: 1em 0;
  line-height: 1.5;
}

.main-article-info .article-time {
  font-size: 1em;
  font-weight: 100;
  font-size: 0.8em;
}

/*--------------------- section - secondary articles -------------------------*/

.secondary-articles {
  width: 40%;
  box-sizing: border-box;
  padding: 0 0 0 2em;
  display: flex;
  flex-direction: column;
}

.secondary-article-info {
  margin: 1em 0;
}

.secondary-article-info .article-header {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.2;
}

.secondary-article-info .article-header:hover {
  color: gray;
  text-decoration: underline;
}

.secondary-article-info .article-time {
  margin-top: 1em;
  color: black;
  font-weight: 100;
  font-size: 0.8em;
}

/*--------------------- section - article list -------------------------*/
.box-header {
  margin-bottom: 14px;
}

.box-title {
  margin: 0;
  color: #14274e;
  font-size: 18px;
}

.article-list {
  width: 30%;
  box-sizing: border-box;
  padding: 0 0 0 2em;
}

.article-list-item {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  border-bottom: 1px solid #ad2139;
}

.article-list-item:first-child {
  padding-top: 0;
}

.article-list-item:last-child {
  border-bottom: none;
}

.article-list-item img {
  width: 25%;
}

.article-list-item .article-header {
  width: 70%;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1em;
}

.article-list-item .article-header:hover {
  color: #2f1412;
}

/*--------------------- media -------------------------*/

@media (max-width: 992px) {
  .trending-articles {
    flex-direction: column;
  }

  .main-article {
    width: 100%;
  }

  .secondary-articles {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1em 0 0 0;
    justify-content: space-between;
  }

  .secondary-articles .secondary-article {
    width: 45%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .article-list-item img {
    display: none;
  }

  .article-list-item .article-header {
    width: 100%;
    font-weight: 400;
    line-height: 1.2;
    font-size: 0.9em;
  }
}

@media (max-width: 576px) {
  .trending-articles-container {
    display: flex;
    flex-direction: column;
  }

  .trending-articles {
    width: 100%;
  }

  .article-list {
    width: 100%;
    padding: 1em 0 0 0;
  }
}

/*--------------------- section header -------------------------*/

.section-header {
  width: 70%;
  margin: 0 auto;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1em;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #14274e;
}

.section-header h2 {
  background-color: #14274e;
  padding: 0.2em 0.5em;
  width: 30%;
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

/*--------------------- section -------------------------*/

.cherry-section,
.lotus-section,
.hyacinth-section {
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1em 0;
}

.berita-terbaru {
  display: flex;
}

.cherry-section-article img {
  width: 30%;
  height: 85%;
  margin: 1em 0;
}

.cherry-section-article,
.lotus-section-article,
.hyacinth-section-article {
  width: 100%;
  display: flex;
}

.cherry-section-article-info,
.lotus-section-article-info,
.hyacinth-section-article-info {
  margin: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.cherry-section-article-info .article-header,
.lotus-section-article-info .article-header,
.hyacinth-section-article-info .article-header {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.2;
}

.cherry-section-article-info .article-header:hover,
.lotus-section-article-info .article-header:hover,
.hyacinth-section-article-info .article-header:hover {
  color: #2f1412;
}

.cherry-section-article-info .article-time,
.lotus-section-article-info .article-time,
.hyacinth-section-article-info .article-time {
  margin-top: 1em;
  color: #ad2139;
  font-weight: 100;
  font-size: 0.8em;
}

/*--------------------- media -------------------------*/
@media (max-width: 576px) {
  .cherry-section,
  .lotus-section,
  .hyacinth-section {
    display: flex;
    flex-direction: column;
  }

  .cherry-section-article,
  .lotus-section-article,
  .hyacinth-section-article {
    width: 100%;
  }
}

/* Footer */
footer {
  background-color: #14274e;
  text-align: center;
  padding: 16px 0 48px;
}

footer p {
  color: #f1f6f9;
}

footer .socials {
  padding: 16px 0;
}

footer .socials a {
  color: #f1f6f9;
  margin: 16px;
}

footer .socials a:hover,
footer .links a:hover {
  color: #c70039;
}

footer .links {
  margin-bottom: 22.4px;
}

footer .links a {
  color: #f1f6f9;
  padding: 11.2px 16px;
}

footer .credit {
  font-size: 12.8px;
}

footer .credit a {
  color: #f1f6f9;
  font-weight: 700;
}