.container {
  font-family: "Open Sans", sans-serif;
  color: #191717;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}

.top-headlines {
  display: flex;
  width: 70%;
}

.top-headlines .headlines-title a {
  margin: 0 20px 0 0;
  color: #181818;
}

.top-headlines .headlines-title a:hover {
  color: #ad2139;
}

.top-headlines .row {
  margin: 0 20px 0 0;
}

.headlines-type {
  display: inline-block;
  color: rgb(204, 9, 9);
  margin: 0 20px 0 0;
}

.top-headlines h3 {
  display: flex;
}

.trending-articles-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  border: 1px solid #ccc;
  margin: 30px 0 50px 0;
}

.trending-articles {
  width: 100%;
  display: flex;
}

.article-header {
  text-decoration: none;
  color: black;
}

.main-article {
  width: 100%;
  display: flex;
}

.news-title {
  margin: 1em 2em;
  display: flex;
  font-size: 24px;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.news-title p {
  padding-top: 16px;
  font-weight: 500;
  font-size: 16px;
}

.image-main-article {
  width: 600px;
  height: 400px;
  padding: 20px;
  object-fit: cover;
}

.main-article a {
  display: flex;
  color: #181818;
}

.main-article a:hover {
  color: #ad2139;
}

.main-article-info .article-header:hover {
  color: gray;
  text-decoration: underline;
}

.article-list {
  width: 30%;
  box-sizing: border-box;
  padding: 0 0 0 2em;
}

.article-list-item {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  border-bottom: 1px solid #ad2139;
}

.article-list-item:first-child {
  padding-top: 0;
}

.article-list-item:last-child {
  border-bottom: none;
}

.terbaru-title {
  margin: 1em 3em;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.terbaru-title p {
  font-size: 14px;
  color: #ad2139;
  margin: 16px 0;
}

.publish-date {
  color: gray;
}

.article-list-item img {
  width: 25%;
}

.article-list-item .article-header {
  width: 70%;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1em;
}

.article-list-item .article-header:hover {
  color: #2f1412;
}

.section-header {
  width: 70%;
  margin: 0 auto;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  margin: 1em 0 2em 0;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #14274e;
}

.section-header h2 {
  background-color: #14274e;
  padding: 0.2em 0.5em;
  width: 30%;
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

.berita {
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1em 0;
}

.berita-terbaru {
  display: flex;
}

.berita-article img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.berita-article a {
  display: flex;
  margin-bottom: 50px;
  color: #181818;
}

.berita-article a:hover {
  color: #ad2139;
}

@media (min-width: 1441px) and (max-width: 1915px) {
  .top-headlines {
    width: 80%;
  }

  .trending-articles-container,
  .main-article,
  .berita,
  .section-header {
    width: 80%;
  }

  .main-article {
    width: 100%;
  }

  .article-list-item h1 {
    font-size: 12px;
  }

  .article-list-item img {
    width: 90px;
    height: 54px;
  }
}

@media (min-width: 1281px) and (max-width: 1440px) {
  .top-headlines {
    width: 80%;
  }

  .trending-articles-container,
  .main-article {
    width: 80%;
  }

  .main-article {
    width: 100%;
  }

  .news-title {
    font-size: 24px;
  }

  .section-header {
    width: 80%;
  }

  .berita {
    width: 80%;
  }

  .article-list-item h1 {
    font-size: 12px;
  }

  .article-list-item img {
    width: 90px;
    height: 54px;
  }
}
