.container {
  font-family: "Open Sans", sans-serif;
  color: #191717;
  min-height: 228vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
  zoom: 80%;
}

/* Headlines News */
.top-headlines {
  display: flex;
  width: 70%;
}

.top-headlines .headlines-title {
  margin: 0 20px 0 0;
}

.top-headlines .row {
  margin: 0 20px 0 0;
}

.headlines-type {
  display: inline-block;
  color: rgb(204, 9, 9);
  margin: 0 20px 0 0;
}

.top-headlines h3 {
  display: flex;
}

/* Main News */

.trending-articles-container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  border: 1px solid #ccc;
  margin-top: 30px;
}

.trending-articles {
  width: 100%;
  display: flex;
}

.article-header {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.news-title {
  margin: 1em 2em;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.main-description {
  font-size: 16px;
  color: #181818;
  font-weight: 400;
}

.image-main-article {
  width: 600px;
  height: 400px;
  padding: 20px;
}

/*--------------------- section - main article -------------------------*/

.main-article {
  width: 100%;
  display: flex;
}

.main-article-info {
  margin: 1em 0;
  color: black;
}

.main-article-info .article-header {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.2;
}

.main-article-info .article-header:hover {
  color: gray;
  text-decoration: underline;
}

.main-article-info p {
  font-size: 1em;
  font-weight: 400;
  margin: 1em 0;
  line-height: 1.5;
}

.main-article-info .article-time {
  font-size: 1em;
  font-weight: 100;
  font-size: 0.8em;
}

/*--------------------- section - article list -------------------------*/
.box-header {
  margin-bottom: 14px;
}

.box-title {
  margin: 0;
  color: #14274e;
  font-size: 18px;
}

.article-list {
  width: 30%;
  box-sizing: border-box;
  padding: 0 0 0 2em;
}

.article-list-item {
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  border-bottom: 1px solid #ad2139;
}

.article-list-item:first-child {
  padding-top: 0;
}

.article-list-item:last-child {
  border-bottom: none;
}

.terbaru-title {
  margin: 1em 3em;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

p {
  padding-top: 16px;
  font-size: 14px;
  color: #ad2139;
}

.publish-date {
  color: gray;
}

.article-list-item img {
  width: 25%;
}

.article-list-item .article-header {
  width: 70%;
  font-weight: 400;
  line-height: 1.2;
  font-size: 1em;
}

.article-list-item .article-header:hover {
  color: #2f1412;
}

/*--------------------- media -------------------------*/

@media (max-width: 992px) {
  .trending-articles {
    flex-direction: column;
  }

  .main-article {
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .article-list-item img {
    display: none;
  }

  .article-list-item .article-header {
    width: 100%;
    font-weight: 400;
    line-height: 1.2;
    font-size: 0.9em;
  }
}

@media (max-width: 576px) {
  .trending-articles-container {
    display: flex;
    flex-direction: column;
  }

  .trending-articles {
    width: 100%;
  }

  .article-list {
    width: 100%;
    padding: 1em 0 0 0;
  }
}

/*--------------------- section header -------------------------*/

.section-header {
  width: 70%;
  margin: 0 auto;
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1em;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #14274e;
}

.section-header h2 {
  background-color: #14274e;
  padding: 0.2em 0.5em;
  width: 30%;
  border-radius: 10px;
  border-bottom-right-radius: 0;
}

/*--------------------- section -------------------------*/

.berita {
  display: flex;
  width: 70%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1em 0;
}

.berita-terbaru {
  display: flex;
}

.berita-article img {
  width: 30%;
  height: 200px;
  margin: 1em 0;
}

.berita-article,
.lotus-section-article {
  width: 100%;
  display: flex;
}

.berita-article-info,
.lotus-section-article-info {
  margin: 1em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.berita-article-info .article-header,
.lotus-section-article-info .article-header,
.article-header {
  font-size: 1.1em;
  font-weight: 700;
  line-height: 1.2;
}

.berita-article-info .article-header:hover,
.lotus-section-article-info .article-header:hover,
.article-header:hover {
  color: #2f1412;
}

.berita-article-info .article-time,
.lotus-section-article-info .article-time,
.article-time {
  margin-top: 1em;
  color: #ad2139;
  font-weight: 100;
  font-size: 0.8em;
}

/*--------------------- media -------------------------*/
@media (max-width: 576px) {
  .berita,
  .lotus-section {
    display: flex;
    flex-direction: column;
  }

  .berita-article,
  .lotus-section-article,
  -article {
    width: 100%;
  }
}
